<h1><%= @passenger.name %></h1>

<h3>All flights for <%= @passenger.name %>:</h3><br>

<ul>
<% @passenger.flights.each do |flight| %>
  <section id="flight-<%= flight.id %>">
    <li><%= link_to "#{flight.number}", "/flights/#{flight.id}" %></li><br>
  </section>
<% end %>
</ul>

<h6>Add new flight:</h6>
<%= form_tag "/passengers/#{@passenger.id}/flights", method: :post do %>
  <%= label_tag :new_flight_number %>
  <%= text_field_tag :new_flight_number %>
  <%= submit_tag "Add Flight" %>
<% end %>